@import 'colors';
@import 'sizes';

@mixin card-size {
  width: 200px;
  height: 300px;
  border-radius: 10px;  
}

.tech {
  @include card-size;
  padding: 0px 25px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $green;

  &::after {
    content: ' ';
    @include card-size;
    border: 1px solid $green;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
  }
  

  .tech-image {
    width: $tech-logo-size;
    margin-bottom: $space-between-texts;
  }

  .tech-title {
    margin-bottom: $space-between-texts;
  }

  .tech-release {
    font-weight: 600;
    margin-bottom: $space-between-texts;
  }

  .tech-description {
    font-size: $text-small;
    text-align: center;
  }
}