@import 'colors';
@import 'sizes';

@mixin card-size {
  border-radius: 10px;
  height: 300px;
  width: 200px;
}

.content-tech {
  display: flex;
  flex-wrap: wrap;
  padding: 0 400px;

  .tech {
    @include card-size;
    align-items: center;
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 0px 25px;
    position: relative;

    &::after {
      @include card-size;
      content: ' ';
      border: 1px solid $green;
      left: -10px;
      position: absolute;
      top: -10px;
      z-index: -1;
    }

    .tech-image {
      margin-bottom: $space-between-texts;
      width: $tech-logo-size;
      height: $tech-logo-size;
    }

    .tech-title {
      margin-bottom: $space-between-texts;
    }

    .tech-release {
      font-weight: 600;
      margin-bottom: $space-between-texts;
    }

    .tech-description {
      font-size: $text-small;
      text-align: center;
    }
  }
}