@import 'colors';
@import 'sizes';

.content-title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 120px 0px 0px 350px;

  .logo-title {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

  .title {
    color: black;
    font-size: $text-big;
    position: absolute;
    left: 420px;
  }
}