@import 'colors';
@import 'sizes';

.content-title {
  align-items: center;
  display: flex;
  padding: 120px 0px 0px 350px;
  position: relative;

  .logo-title {
    height: $tech-logo-size;
    width: $tech-logo-size;
  }

  .title {
    color: black;
    font-size: $text-big;
    left: 420px;
    position: absolute;
  }
}