@import 'colors';
@import 'sizes';

.content-title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 170px 0px 20px 300px;
  text-align: center;

  .title {
    color: black;
    font-size: $text-big;
    position: relative;

    &::before {
      content: '';
      background: url('maquetado/assets/triangle.svg');
      min-width: 75px;
      min-height: 100px;
      background-size: 100%;
      position: absolute;
      background-repeat: no-repeat;
      left: -55px;
      top: -35px;
      z-index: -1;
    }
  }
}

@media (max-width: 1024px) {

  .content-title {
    padding: 170px 0px 30px 470px;
  }
}