@import '../../../../../scss/colors';

.form-input {
  border: 1px solid $turquoise;
  color: $dust-gray;
  height: 25px;
  margin: 10px;
  width: 100%;
}

.form-error {
  color: $red;
  margin-left: 10px;
}