@import '../../../scss/colors';

.topbar {
  align-items: center;
  background: linear-gradient($turquoise, $black);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.topbar-name {
  font-size: 35px;
  padding: 10px;
  color: $white;
}

.topbar ul {
  align-items: center;
  display: flex;
}

.topbar-item {
  color: $white;
  font-size: 20px;
  padding-right: 20px;
}
