@import '../../../scss/colors';

.topbar {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  width: 100%;
}

.topbar ul {
  display: flex;
  align-items: center;
}

.topbar-link {
  color: $white;
  font-size: 16px;
  padding-right: 20px;
}

.topbar button {
  color: $white;
  font-size: 18px;
  padding: 10px;
}