.form-login {
  margin: auto;
  width: 600px;
  padding: 30px;
  border: 2px solid aquamarine;
  border-radius: 10px;
}

.form-label {
  color: blue;
  margin: 10px;
}

.form-field {
  border: 1px solid aquamarine;
  color: grey;
  width: 100%;
  margin: 10px;
}

.form-button {
  background-color: aquamarine;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.form-error {
  color: red;
}