.form-login {
  width: 500px;
  padding: 10px;
  border: 2px solid aquamarine;
  border-radius: 10px;
}

.form-label {
  color: blue;
  margin: 10px;
}

.form-field {
  background-color: aquamarine;
  color: white;
  width: 80%;
  margin: 10px;
}

.form-button {
  background-color: aquamarine;
  border-radius: 5px;
  padding: 10px;
}