@import 'src/scss/colors.scss';

.matches-container {
  display: flex;
  flex-direction: row;
}

ol {
  margin: 0 30px;
}

ol li {
  text-align: center;
  padding-top: 5px;
}

.winner {
  color: $blue;
}

.move-container {
  margin: 0 30px;
}
